body {
    background-color: #1F2937;
}

.hero,
.header,
.footer,
.pictures {
    display: flex;
    justify-content: center;   
    align-items: center;
}

.hero {
    justify-content: center;
    align-items: center;
    width: 500px;
    font-size: 24px;
}

.hero-title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.header {
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.pictures {
    background-color: white;
}

.pictures .header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

ul {
    display: flex;
    gap: 8px;
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
}