* {
    /* outline: 2px solid orange; */
}

body {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    /* overflow: hidden; */
    width: 100vw;
    margin: 0;
    font-family: Roboto;
}

.hero,
.header,
.footer,
.pictures,
.quote-section,
.action-section {
    display: flex;
    justify-content: center;   
    /* align-items: flex-end; */
    width: 100%;
    flex-shrink: 0;
    margin: auto;
}


.header {
    display: flex;
    justify-content: center;
    /* flex: 1; */
    /* margin-top: auto; */
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    flex-shrink: 0;
    width: 70%;
}


.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.hero,
.hero .img {
    /* font-size: 24px; */
    /* padding: 24px; */
    /* margin: 50px 0px */
}

.hero-container {
    display: flex;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    /* flex-direction: column nowrap; */
    width: 70%;
    margin: 50px 0px;
    gap: 25px;
}

.hero-maingroup {
    display: flex;
    flex-direction: column;
    max-width: 415px;
}

.hero-title {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero-p {
    color: #F9FAF8;
    margin: 0;
    margin-bottom: 4px;
}

.img-container {
    display: flex;
    /* width: 250px; */
    justify-content: flex-end;
}

.img-container .img {
    height: 195px;
    width: 350px;
}

.btn {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: flex-start;
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 5%;
    width: 80px;
    border: none;
}



.pictures {
    background-color: white;
}


.pictures-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 70%; */
    gap: 24px;
    padding: 20px;
    background-color: white;
    flex-shrink: 0;
    margin: 50px 0px
}

.pictures .header {
    margin: 0;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.pictures .images {
    display: flex;
    /* height: 150px; */
    gap: 24px;
}

.image-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
}

.image-container img {
    height: 149px;
    width: 249px;
    border-radius: 5%;
    border: 2px solid #3882f6;
}

.image-container p {
    padding: 0;
    margin: 0;
}

.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 64px; */
    background-color: #E5E7EB;
    flex-shrink: 0;
}

.quote-container {
    /* margin: auto; */
    /* max-height: 300px; */
    /* width: 350px; */
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    margin: 50px 0px;
    width: 55%;
    padding: 60px;
}

.quote {
    display: flex;
    /* max-width: 750px; */
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    margin: 0px;
    flex-grow: 1;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    /* width: 100%; */
    margin: 0;
    font-size: larger;
    font-weight: bolder;
    padding-top: 5px;
    padding-right: 40px;
}

.action-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* padding: 60px; */
    flex-shrink: 0;
    padding: 70px 0px;
}

.action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    background-color: #3882f6;
    color: #E5E7EB;
    padding: 35px 60px;
    margin: auto;
}

.action-container button {
    border: 1px solid white;
}

.action-text p {
    margin: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    flex-shrink: 0;
}

ul {
    display: flex;
    gap: 8px;
    padding: 0;
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
}