* {
    /* outline: 2px solid orange; */
}

body {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    /* overflow: hidden; */
    width: 100vw;
    margin: 0;
}

.hero,
.header,
.footer,
.pictures {
    display: flex;
    justify-content: center;   
    align-items: center;
}

.hero,
.hero .img {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
    /* width: 500px; */
    font-size: 24px;
    flex: 1 0 auto;
    padding: 24px;
    /* height: auto; */
}

.hero {
    width: auto;
    min-height: 200px;
}

.hero {
    justify-content: space-between;
}


.hero-title {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero-p {
    color: #F9FAF8;
    margin: 0;
}

.btn {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: flex-start;
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 5%;
    min-width: 80px;
    border: none;
    padding: 4px;
}


.header {
    flex: 1;
    margin-top: auto;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.pictures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 20px;
    background-color: white;
}

.pictures .header {
    margin: 0;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.pictures .images {
    display: flex;
    height: 150px;
    gap: 24px;
}

.images img {
    border-radius: 5%;
    border: 2px solid #3882f6;
}

.quote-section {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding: 64px;
    background-color: #E5E7EB;
}

.quote-container {
    margin: auto;
    /* max-height: 300px; */
    max-width: 750px; 
    /* width: 350px; */
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    margin: 0;
    font-weight: bold;
    padding-right: 15px;
}

.action-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 60px;
}

.action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color: #E5E7EB;
    padding: 15px 20px;
    margin: auto;
}

.action-container button {
    border: 1px solid white;
}

.action-text p {
    margin: 0;
}

ul {
    display: flex;
    gap: 8px;
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
}